//Tipografia
$fuente_principal: "Montserrat", sans-serif;


//Colores

$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFF;


//Tamanos de Media Queries:
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

