@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    background-color: v.$verde;
   
    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;    
        }
        
    }
    .contenido-header {
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;        
        }
    }
}

.navegacion-principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }

    }
    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include m.tablet {
            margin-booton: 0;
        }

        &:hover {
            color: v.$amarillo;
        }
    }

/*
.prueba {
    @include m.heading(v.$verde, true);
}

.texto {
    @include m.heading;
}
*/