@use 'base/mixins' as m;
@use 'base/variables' as v;

.video {
    position: relative;
    max-height: 60rem;
    min-height: 40rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        background: rgb(166,2,255);
        background: linear-gradient(90deg, rgba(166,2,255,0.5) 0%, rgba(255,0,206,0.3) 100%);  //CSS Gradient 
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video {
        width: auto;
        @include m.desktop {
            width: 100%;    
        }
        display: block; //toma todo el espacio para abajo 
    }
}

.contenido-video {
    z-index: 1;
    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }

    p {
        background-color: v.$rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0;
    }
}